doctype html
html(lang="en")
	head
		meta(charset='utf-8')

		title HSL colors
		meta(name="viewport" content="width=device-width, initial-scale=1")

		base(href="")

		link(rel="stylesheet", href="dist/css/hsl.css")

	body
		header.hsl-header
		content.hsl-content
			each hue in hues
				div.hue
					div.title
						h1 Hue = #{hue}&deg;
					div.row.header
						div.label
						each lightness in lightnesses
							- let text = `L = ${lightness}%`;
							div.label
								b= text
					each saturation in saturations
						div.row.saturation
							div.label
								- let text = `S = ${saturation}%`;
								b= text
								//- p
							each lightness in lightnesses
								div
									- let classname = `hsl-${hue}-${saturation}-${lightness}`;
									b(class=classname)
									//- p RGB
		footer.hsl-footer


